data/*
!data/datapacks/
data/datapacks/*
!data/datapacks/CCC_2.0.zip
!data/datapacks/extra/
data/datapacks/extra/*
!data/datapacks/extra/CobblemonRaidDenDesigns-0.3_RELEASE.zip

backups/*
!backups/.gitkeep
!backups/update-check/
backups/update-check/*
!backups/update-check/.gitkeep

.env

__pycache__/
*.pyc
